<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp</title>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="container pt-3">
    <h1>ToDoApp</h1>
    <form method="post" action="/add">
        <div class="form-group">
            <label for="email">Enter ToDo:</label>
            <input type="text" class="form-control" placeholder="Enter todo" id="email" name="title">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <div class="container">
    {% for todo in todo_list %}
    <div class="container p-3 my-3 border">
        <h3><strong> {{todo.id}} | {{todo.title}}</strong></h3><br>

        {% if todo.complete == False %}
            <span class="btn btn-outline-secondary">Not Completed</span>
        {% else %}
            <span class="btn btn-outline-success">Completed</span>
        {%  endif %}

        <a class="btn btn-primary" href="/update/{{ todo.id }}">Update</a>
        <a class="btn btn-danger" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
    </div>
</div>
    
</body>
</html>
